@charset "UTF-8";

@font-face {
  font-family: "BaskervilleOldFace";
  src: url("../assets/BASKVILL.ttf") format("truetype");
  font-weight: normal;
}

/* 초기화 */
body,
h1,
h2,
h3,
h4,
ul,
fieldset,
button,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}
input {
  border: none;
}
.hidden {
  position: absolute;
  left: -9999em;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

body {
  background-color: #ccc;
  font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
  position: relative;
  height: 100vh;
  background: url(../assets/main-1.png) no-repeat center / cover;
}

header #navWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  /* height: 70px; */ /*헤더 아래로 내려갈 경우 */
  overflow: hidden;
  transition: .6s;
  position: fixed;
  z-index: 999;
}

header #navWrap:hover {
  height: 370px;
  /* height: 290px; 헤더 아래로 내려갈 경우 */
  background-color: #fff;
}

header #navWrap:hover h1 a {
  background-position: left top -57px;
}

header #navWrap:hover #gnb ul li a {
  color: #000;
}
header h1 { /*헤더 아래로 내려갈 경우*/
  /* height: 0;
  overflow: hidden; */
}
header h1 a {
  display: block;
  width: 226px;
  height: 54px;
  text-indent: -9999em;
  background-image: url(../assets/sprite.png);
  background-position: left top;
  margin-top: 20px;
}

header #gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25px;
}

header #gnb ul {
  display: flex;
  margin: 0 15px;
}

header #gnb ul li {
  margin: 0 20px;

}

header #gnb ul li a {
  color: #fff;
  font-size: 14px;
  transition: .3s color;
}

header #navWrap:hover #gnb ul li a:hover {
  color: rgb(179, 15, 15);
}

header #lnb {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

header #lnb .wrap {
  width: 900px;
  margin: 0 auto;
}

header #lnb .wrap>ul {
  display: flex;
  justify-content: space-evenly;
}

header #lnb .wrap ul li {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

header #lnb .wrap>ul>li::before {
  content: '';
  display: block;
  height: 150px;
  border-left: 1px solid #ccc;
  position: absolute;
  left: -10px;
  top: 50px;
}

header #lnb .wrap>ul>li:first-child::before {
  display: none;
}

header #navWrap:hover #lnb .wrap ul li {
  color: #000;
}

header #lnb .wrap ul li ul {
  margin: 30px auto 0;
  width: 120px;
}

header #lnb .wrap ul li ul li {
  padding: 8px 0px;
}

header #lnb .wrap ul li ul li a {
  font-size: 15px;
  position: relative;
  padding-bottom: 5px;
}

header #lnb .wrap ul li ul li a::after {
  position: absolute; /*기준을 a로 해주고, width를 100%를 주면 완성!*/
  width: 100%;
  bottom: 0; left: 0;
  content: '';
  margin-top: 2px;
  border-bottom: solid 1px #000;
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

header #lnb .wrap ul li ul li a:hover:after {
  transform: scaleX(1);
}

/* 빠른예약 */
form {
  position: absolute;
  background-color: #fff;
  bottom: 70px;
  width: 1200px;
  left: calc(50% - 600px);
  font-family: 'BaskervilleOldFace', serif;
}

form fieldset {
  border: none;
  width: 1200px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

#reserv_content {
  width: 200px;
  text-align: center;
  line-height: 140px;
  overflow: hidden;
  position: relative;
}

#reserv_content::before {
  content: "";
  display: block;
  border-right: 1px solid #ccc;
  height: 80px;
  position: absolute;
  right: 0;
  top: 30px;
}
#reserv_content .contWrap {
  width: 200px;
  height: 280px;
  position: absolute;
}
#reserv_content .contWrap li {
  font-size: 40px;
  transition: .5s;
  color: #ccc;
}

#reserv_content:hover li{
  line-height: 50px;
}
#reserv_content:hover li:first-child {
  margin-top: 20px;
}

#reserv_content li.selected {
  color: #000;
}

form fieldset label {
  color: #bdbdbd;
  display: block;
  line-height: 30px;
  margin-top: 30px;
}
.dateWrap {
  width: 180px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}
.dateWrap:first-of-type::after {
  content: '';
  position: absolute;
  width: 20px;
  border-bottom: 1px solid #ccc;
  right: -20px;
  top: 55%;
}
.dateWrap:last-of-type::after {
  content: '';
  position: absolute;
  height: 80px;
  border-right: 1px solid #ccc;
  right: 0;
  top: 30px;
}
.reserv_date {
  display: block;
  line-height: 50px;
  font-size: 35px;
  font-family: "BaskervilleOldFace", serif;
}

#reserv_dateOut {}

#reserv_numOfRooms {
  height: 30px;
  font-size: 30px;
  width: 105px;
}

#reserv_numOfRooms::after {
  content: "Rooms";
}

#reserv_numOfAdult {
  height: 30px;
  font-size: 30px;
  width: 105px;
}

#reserv_numOfAdult::after {
  content: "Adult";
}

#reserv_numOfChildren {
  height: 30px;
  font-size: 30px;
  width: 105px;
}

#reserv_numOfChildren::after {
  content: 'Children';
}

#reserv_btn {
  font-family: 'BaskervilleOldFace', serif;
  background-color: #000;
  color: #fff;
  width: 160px;
  font-size: 35px;
  cursor: pointer;
  border: 0px;
  margin-right: -1px;
}
/* Special Offers */
#specialOffers{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 150px 0 50px;
  box-sizing: border-box;
}
#specialOffers h2 {
  font-family: 'BaskervilleOldFace', serif;
  font-size: 40px;
  text-align: center;
}
.promo-slider{
  margin: 110px auto 0;
  width: 1200px;
  height: 420px;
  overflow: hidden;
}
.promo-slider ul {
  width: 2200px;
  display: flex;
  justify-content: space-between;
  /* 나중에 계산으로 */
}
.promo-slider ul li {
  width: 320px;
  margin-right: 120px;
  position: relative;
}
.promo-slider ul li::before {
  content: "";
  display: block;
  height: 420px;
  border-right: 1px solid #ccc;
  position: absolute;
  right: -60px;
}
.promo-slider ul li a {
  display: block;
  border: 1px solid #ccc;
  height: 420px;
  position: relative;
  box-sizing: border-box;
}
.promo-slider a dl {
  width: 320px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.promo-slider a dt {
  font-size: 24px;
  padding: 10px;
}
.promo-slider a dd {}
