@charset "UTF-8";

@font-face {
  font-family: "BaskervilleOldFace";
  src: url("../assets/fonts/BASKVILL.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
  font-weight: normal;
}

/* 초기화 */
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
ul,
fieldset,
button,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.hidden {
  position: absolute;
  left: -9999em;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

address {
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  
}

small {
  margin: 0 10px;
}

.btn_black {
  display: block;
  width: 150px;
  line-height: 45px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  transition: box-shadow 0.5s;
}

.btn_trpt {
  display: block;
  width: 180px;
  line-height: 45px;
  background-color: transparent;
  color: #5d5d5d;
  border: 1px solid #5d5d5d;
  text-align: center;
  margin-top: 25px;
  transition: box-shadow 0.5s, color 0.3s;
}

.btn_white {
  display: block;
  width: 135px;
  line-height: 40px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  margin-top: 25px;
  transition: 0.5s;
}

.btn_gold {
  display: block;
  width: 160px;
  line-height: 40px;
  background-color: transparent;
  color: #000;
  border: 1px solid #d8c3ae;
  text-align: center;
  font-size: 14px;
  transition: box-shadow .5s;
}

.btn_black:hover {
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.31);
}

.btn_trpt:hover {
  color: #000;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn_white:hover {
  background-color: #000;
  border-color: #000;
}

.btn_gold:hover {
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.09);
}

h1,
h2,
h3,
h4 {
  font-family: 'BaskervilleOldFace', serif;
  font-size: 35px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes lineMove {
  to {
    stroke-dashoffset: 0
  }
}

/* HEADER */
header {
  position: relative;
  height: 100vh;
  background: url(../assets/main-1.png) no-repeat center / cover;
  /*js로 동적으로 바꿔주기*/
}

header #navWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  /* height: 70px; */
  /*헤더 아래로 내려갈 경우 */
  overflow: hidden;
  transition: .6s;
  position: absolute;
  z-index: 999;
}

header #navWrap:hover {
  height: 370px;
  /* height: 290px; 헤더 아래로 내려갈 경우 */
  background-color: #fff;
}

header #navWrap:hover h1 a {
  background-position: left top -57px;
}

header #navWrap:hover #gnb ul li a {
  color: #000;
}

header h1 a {
  display: block;
  width: 226px;
  height: 54px;
  text-indent: -9999em;
  background-image: url(../assets/sprite.png);
  background-position: left top;
  margin-top: 20px;
}

header #gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25px;
}

header #gnb ul {
  display: flex;
  margin: 0 15px;
}

header #gnb ul li {
  margin: 0 20px;
}

header #gnb ul li a {
  color: #fff;
  font-size: 14px;
  transition: .3s color;
}

header #navWrap:hover #gnb ul li a:hover {
  color: rgb(179, 15, 15);
}

header #lnb {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

header #lnb .wrap {
  width: 900px;
  margin: 0 auto;
}

header #lnb .wrap>ul {
  display: flex;
  justify-content: space-evenly;
}

header #lnb .wrap ul li {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
}

header #lnb .wrap>ul>li::before {
  content: '';
  display: block;
  height: 150px;
  border-left: 1px solid transparent;
  position: absolute;
  left: -10px;
  top: 50px;
  transition: 0.3s;
}

header #navWrap:hover #lnb .wrap>ul>li::before {
  border-color: #ccc;
}

header #lnb .wrap>ul>li:first-child::before {
  display: none;
}

header #navWrap:hover #lnb .wrap ul li {
  color: #000;
}

header #lnb .wrap ul li ul {
  margin: 30px auto 0;
  width: 120px;
}

header #lnb .wrap ul li ul li {
  padding: 8px 0px;
}

header #lnb .wrap ul li ul li a {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  padding-bottom: 5px;
}

header #lnb .wrap ul li ul li a::after {
  position: absolute;
  /*기준을 a로 해주고, width를 100%를 주면 완성!*/
  width: 100%;
  bottom: 0;
  left: 0;
  content: '';
  margin-top: 2px;
  border-bottom: solid 1px rgb(158, 158, 158);
  transition: transform 250ms ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

header #lnb .wrap ul li ul li a:hover:after {
  transform: scaleX(1);
}

/* 빠른예약 */
form {
  position: absolute;
  background-color: #fff;
  bottom: 70px;
  width: fit-content;
  left: calc(50% - 550px);
  font-family: 'BaskervilleOldFace', serif;
}

form fieldset {
  border: none;
  height: 140px;
  display: flex;
}

form fieldset input {
  font-family: "BaskervilleOldFace", serif;
}

#reserv_content {
  width: 200px;
  text-align: center;
  line-height: 140px;
  overflow: hidden;
  position: relative;
}

#reserv_content::before {
  content: "";
  border-right: 1px solid #ccc;
  height: 80px;
  position: absolute;
  right: 0;
  top: 30px;
}

#reserv_content .contWrap {
  width: 200px;
  position: absolute;
}

#reserv_content .contWrap li {
  font-size: 40px;
  transition: .5s;
  cursor: pointer;
  color: #ccc;
}

#reserv_content:hover li {
  line-height: 50px;
}

#reserv_content:hover li:first-child {
  margin-top: 20px;
}

#reserv_content li.selected {
  color: #000;
}

form fieldset label {
  color: #bdbdbd;
  line-height: 25px;
  margin-top: 30px;
}

.dateWrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}

.dateWrap:first-of-type::after {
  content: '';
  position: absolute;
  width: 20px;
  border-bottom: 1px solid #ccc;
  right: -7%;
  top: 60%;
}

.dateWrap:nth-of-type(2)::after {
  content: '';
  position: absolute;
  height: 80px;
  border-right: 1px solid #ccc;
  right: 0;
  top: 30px;
}

.reserv_date {
  line-height: 50px;
  font-size: 35px;
}

.optWrap {
  width: 80px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}

.optWrap::after {
  content: '';
  position: absolute;
  height: 80px;
  border-right: 1px solid #ccc;
  right: 0;
  top: 30px;
}

.optWrap:last-of-type:after {
  display: none;
}

.reservOpt {
  font-size: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.optWrap:last-of-type .reservOpt {
  margin-left: 18px;
}

#reserv_btn {
  background-color: #000;
  margin-right: -1px;
  color: #fff;
  width: 160px;
  font-size: 35px;
  cursor: pointer;
  font-family: 'BaskervilleOldFace', serif;
}

/* Special Offers */

#specialOffers {
  height: 80vh;
  min-height: 570px;
  width: 100%;
  background-color: #fff;
  margin-top: 160px;
}

.promo-slider {
  margin: 100px auto 0;
  width: 1000px;
  overflow: hidden;
}

.promo-slider ul {
  width: 1700px;
  /* 나중에 계산으로 */
  display: flex;
  justify-content: space-between;
}

.promo-slider ul li {
  width: 300px;
  position: relative;
  background-repeat: no-repeat;
}

.promo-slider ul li::before {
  content: "";
  height: 400px;
  border-right: 1px solid #ccc;
  position: absolute;
  right: -25px;
}

.promo-slider a dl {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 102%;
}

.promo-slider a dt {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.promo-slider a dd {
  font-size: 14px;
}

.promo-control {
  position: relative;
}

.promo-control>a {
  width: 55px;
  height: 55px;
  top: -250px;
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  text-indent: -9999em;
}

.promo-control>a:first-child {
  left: calc(50% - 700px);
  background: url(../assets/sprite.png) no-repeat top -107px left 5px;
}

.promo-control>a:last-child {
  right: calc(50% - 700px);
  background: url(../assets/sprite.png) no-repeat top -148px left 3px;
}

/* ESG BANNER */

#ESG {
  margin-top: 130px;
  width: 100%;
  height: 365px;
  background: url(../assets/esg-bg.png);
  background-repeat: repeat-x;
}

#ESG>section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#ESG>section article {
  padding: 100px 80px 0;
}

#ESG>section article h4 {
  text-align: left;
}

#ESG>section article img {
  width: 590px;
  top: 50px;
  right: 80px;
  position: absolute;
}

#ESG>section article p {
  padding-top: 20px;
}

/* ROOMS, DINING 공통 */
.twin {
  position: relative;
}

.twin h2 {
  position: absolute;
  top: 25%;
  line-height: 55px;
  font-size: 40px;
}

.twin .slider-wrap {
  width: 55vw;
  overflow: hidden;
}

.twin ul {
  display: flex;
  width: 2020vw;
}

.twin ul li{
  width: 55vw;
  height: 40vw;
  position: relative;
  background: no-repeat center / cover;
}

.twin ul li span {
  font-size: 60px;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  font-family: 'BaskervilleOldFace', serif;
  position: absolute;
  bottom: 10px;
}

.twin div:nth-child(3) {
  position: absolute;
  bottom: 0;
}

.twin div:nth-child(3) a {
  font-family: 'SpoqaHanSansNeo', sans-serif;  
  font-size: 20px;
  color: #a6a6a6;
}

.twin div:nth-child(3) a.on {
  color: #000;
}

.twin div:nth-child(3) a.on::after {
  content: "";
  display: inline-block;
  left: 30px;
  bottom: 5px;
  width: 85px;
  border-bottom: 1px solid #000;
  margin: 0 10px;
}

.twin > p {
  position: absolute;
  top: 48%;
  line-height: 25px;
}

.twin > a {
  position: absolute;
  top: 70%;
}

.twin > svg {
  position: absolute;
  top: 0;
  width: 42%;
  height: 1px;
}

.twin > svg line {
  stroke-width: 1px;
  stroke: black;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: lineMove 2s forwards;
}

/*  ROOMS */

#rooms {
  margin-top: 400px;
}

#rooms h2 {
  left: 58%;
  text-align: left;
}

#rooms .rooms-slider li span {
  right: 25px;
}

#rooms .rooms-pagination {
  left: 58%;
}

#rooms .rooms-pagination a {
  margin-right: 5px;
}

#rooms p {
  left: 58%;
}

#rooms a.btn_trpt {
  left: 58%;
}

#rooms svg {
  left: 58%;
}

/*  DINING & BAR */
#dining {
  margin-top: 127px;
}

#dining h2 {
  text-align: right;
  right: 58%;
  z-index: 10;
}

#dining .slider-wrap {
  position: relative;
  right: -45%;
  width: 55vw;
  overflow: hidden;
}

#dining .dining-slider li span {
  left: 25px;
}

#dining .dining-pagination {
  right: 58%;
}

#dining .dining-pagination a {
  margin-left: 5px;
}

#dining p {
  right: 58%;
  text-align: right;
}

#dining a.btn_trpt {
  right: 58%;
}

#dining svg {
  right: 58%;
}

/* FACILITIES */

#facilities {
  margin-top: 200px;
  width: 100%;
  height: 80vh;
  min-height: 665px;
}

#facilities h2 {
  width: fit-content;
  margin: 0 auto 60px;
}

#facilities div.facilities_content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#facilities article {
  width: 32%;
  text-align: center;
  background-size: cover;
  transition: 1s;
  color: #fff;
}

.facility_wrap {
  height: 500px;
  opacity: 0;
  transition: opacity .5s, background-color .7s;
}

.facility_wrap:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

#facilities article dl {
  padding-top: 140px;
}

#facilities article dl dt {
  font-family: 'BaskervilleOldFace', serif;
  font-size: 45px;
}

#facilities article dl dt::after {
  content: "";
  display: block;
  margin: 20px auto 30px;
  border-bottom: 1px solid #fff;
  width: 250px;
  transition: transform 800ms ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

#facilities .facility_wrap:hover dl dt::after {
  transform: scaleX(1);
}

#facilities article dl dd {
  font-size: 14px;
  line-height: 22px;
}

#facilities article a {
  margin: 40px auto 0;
  font-size: 13px;
}

/* MEMBERSHIP */

#membership {
  margin: 100px 0 200px;
  width: 100%;
}

#membership article {
  height: 270px;
  position: relative;
  background-image: url(../assets/membership-bg.png), url(../assets/membership-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 600px, 600px;
  background-position: top 18% left -418px, top 18% right -418px;
}

#membership article h3 {
  padding-top: 80px;
}

#membership article a {
  margin: 40px auto;
}

#membership article svg {
  width: 100%;
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#membership article svg line {
  stroke-width: 1px;
  stroke: #d8c3ae;
  stroke-dasharray: 100vw;
  stroke-dashoffset: 100vw;
  animation: lineMove 5s forwards;
}


/* WEDDING & MEETING */
#wedding {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  text-align: center;
  position: relative;
  padding: 40vh 0 0;
  box-sizing: border-box;
}

#wedding h2 {
  color: #fff;
  font-size: 40px;
}

#wedding p {
  color: #fff;
  padding: 20px 0;
}

#wedding a {
  width: 160px;
  margin: 20px 5px;
  display: inline-block;
  font-size: 14px;
}

#wedding iframe {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#wedding::before {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* SNS */

#sns {
  margin: 200px 0;
  width: 100%;
  text-align: center;
}

#sns p {
  margin: 20px 0 0;
}

#sns .posts ul {
  margin-top: 100px;
  display: flex;
  width: 100%;
  overflow: hidden;
}

#sns .posts ul li a {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 20px;
  text-indent: -9999em;
  background-size: cover;
}

#sns .posts ul li:nth-child(2n) a {
  margin-top: 80px;
}

/* TOP BUTTON */

a.top_btn {
  position: fixed;
  bottom: 50px;
  right: 90px;
  border-radius: 25%;
  background-color: #fff;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

a.top_btn span {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../assets/sprite.png) no-repeat;
  background-position: left 6px top -196px;
}

/* FOOTER */

footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 100%;
  height: 320px;
  color: #bbb;
  background: url(../assets/footer-bg.png) repeat center / contain;
}

footer a {
  color: #bbb;
}

footer>span {
  display: block;
  position: absolute;
  top: 70px;
  left: 20%;
  width: 226px;
  height: 54px;
  background: url(../assets/sprite.png) no-repeat left bottom;
}

footer .familySites {
  margin-top: 170px;
  width: 45%;
  max-width: 670px;
  display: flex;
  justify-content: space-between;
}

footer .familySites li a {
  display: block;
  text-indent: -999em;
  background: url(../assets/sprite.png) no-repeat;
}

footer .familySites li:first-child a {
  width: 79px;
  height: 39px;
  background-position: top -57px left -231px;
}

footer .familySites li:nth-child(2) a {
  width: 75px;
  height: 38px;
  background-position: top -233px left -334px;
}

footer .familySites li:nth-child(3) a {
  width: 105px;
  height: 40px;
  background-position: top -150px left -231px;
}

footer .familySites li:nth-child(4) a {
  width: 105px;
  height: 40px;
  background-position: top -241px left -231px;
}

footer .familySites li:nth-child(5) a {
  width: 51px;
  height: 50px;
  background-position: top -158px left -335px;
}

footer > div:nth-child(3) {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: #4b4642;
  border-top: 1px solid #615b56;
}

footer .info {
  width: 820px;
  line-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer .info li {
  margin: 0 15px;
  position: relative;
}

footer .info li::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: -15px;
  height: 20px;
  border-right: 1px solid #706963;
}
footer .info li:last-child::after {
  display: none;
}

footer > div:last-child {
  position: relative;
  width: 45%;
  height: 270px;
  padding: 50px 30px;
  box-sizing: border-box;
}
footer > div:last-child .footer_sns {
  position: absolute;
  bottom: 55px;
}
footer > div:last-child .footer_sns a {
  display: inline-block;
  width: 62px;
  height: 62px;
  margin-right: 10px;
  text-indent: -999em;
  background: url(../assets/sprite.png) no-repeat;
  background-position: top -281px left -81px;
}

footer > div:last-child .footer_sns a:first-child {
  background-position: top -281px left 1px;
}
footer > div:last-child .footer_sns a:last-child {
  background-position: top -281px left -163px;
}

footer > div:last-child::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  height: 200px;
  border-left: 1px solid #706963;
}
footer > div:last-child * {
  line-height: 27px;
}
footer >div:last-child address {
  display: inline;
}

@media screen and (max-width:1499px) {
  .promo-slider {
    width: 66%;
  }
  .promo-slider ul {
    width: 170%;
  }
  .promo-slider ul li {
    width: 20vw;
    background-size: 100%;
  }
  .promo-slider ul li::before {
    height: 26vw;
    right: -8%;
  }
  .promo-slider a dt {
    font-size: 19px;
    font-weight: 400;
    padding: 10px;
  }
  
  .promo-slider a dd {
    font-size: 13px;
  }
  .promo-control > a:first-child {
    left: calc(4%);
  }
  .promo-control > a:last-child {
    right: calc(4%);
  }
  .twin h2 {
    /* top: 25%;
    line-height: 55px; */
    font-size: 37px;
  }
  .twin > p {
    font-size: 15px;
    top: 50%;
  }
  .twin > a{
    font-size: 15px;
  }
  .twin div:nth-child(3) a {
    font-size: 17px;
  }
  #sns {
    margin-top: 170px;
  }
}
  
  @media screen and (max-width:1199px) {
    form {
      width: 900px;
      left: calc(50% - 450px);
    }
    #reserv_content {
      width: 150px;
    }
    #reserv_content .contWrap {
      width: 150px;
    }
    #reserv_content .contWrap li {
      font-size: 32px;
    }
    form fieldset label {
      margin-top: 35px;
    }
    .dateWrap {
      width: 150px;
    }
    .dateWrap:first-of-type::after {
      width: 10px;
      right: -5px;
    }
    .dateWrap:nth-of-type(2) {
      margin-right: 0;
    }
    .reserv_date {
      line-height: 40px;
      font-size: 28px;
    }
    .optWrap {
      width: 90px;
      margin: 0;
      text-align: center;
      align-items: center;
    }
    .reservOpt {
      font-size: 28px;
      width: 45px;
      padding-top: 5px;
      padding-left: 30px;
      margin: 0;
    }
    .optWrap:last-of-type .reservOpt {
      margin-left: 0;
  }
  #reserv_btn {
    background-color: #000;
    margin-right: -1px;
    color: #fff;
    width: 150px;
    font-size: 30px;
  }


    #ESG>section article img {
      width: 49vw;
      top: 50px;
      right: 7%;
      position: absolute;
  }
  }
  @media screen and (max-width:899px) {
  /* 모바일 가로, 타블렛 세로 */
  }
  
  @media screen and (max-width:599px) {
  /* 모바일 세로 */
  }