body {
  overflow-x: hidden;
  overflow-y: auto;
}
header .backgroundSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
header .backgroundSlider > .bg-wrap {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform-origin: center;
  transform: scale(1);
  transition: transform 1.8s;
}
header .backgroundSlider > .bg-wrap > div {
  width: 100%;
  height: 100%;
  background: no-repeat top center / cover;
}
header .backgroundSlider> .bg-wrap.active {
  z-index: 0;
}
header > div.backgroundSlider > .bg-wrap > div[data-n = "1"] {
  background-image: url(../assets/main-1.webp);
}
header > div.backgroundSlider > .bg-wrap > div[data-n = "2"] {
  background-image: url(../assets/main-2.webp);
}
header > div.backgroundSlider > .bg-wrap > div[data-n = "3"] {
  background-image: url(../assets/main-3.webp);
  background-position-y: bottom;
}
header > div.backgroundSlider > .bg-wrap > div[data-n = "4"] {
  background-image: url(../assets/main-4.webp);
}

header > p {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
  color: #fff;
  position: absolute;
  top: calc(50% - 70px);
  opacity: 0;
  line-height: 1;
  text-transform: uppercase;
}

/* 빠른예약 */
form {
  position: absolute;
  background-color: #fff;
  bottom: 70px;
  width: fit-content;
  left: calc(50% - 550px);
  font-family: 'BaskervilleOldFace', serif;
}

form fieldset {
  border: none;
  height: 140px;
  display: flex;
}

form fieldset input {
  font-family: "BaskervilleOldFace", serif;
}

#reserv_content {
  width: 200px;
  text-align: center;
  line-height: 140px;
  overflow: hidden;
  position: relative;
}

#reserv_content::before {
  content: "";
  border-right: 1px solid #ccc;
  height: 80px;
  position: absolute;
  right: 0;
  top: 30px;
}

#reserv_content > li {
  width: 200px;
  position: absolute;
  font-size: 40px;
  transition: .5s;
  cursor: pointer;
  color: #ccc;
  bottom: -140px;
}

#reserv_content:hover li {
  bottom: -30px;
}

#reserv_content:hover li.selected {
  bottom: 25px;
}

#reserv_content li.selected {
  color: #000;
  bottom: 0;
}

form fieldset label {
  color: #bdbdbd;
  line-height: 25px;
  margin-top: 30px;
}

.dateWrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  position: relative;
}

.dateWrap:first-of-type::after {
  content: '';
  position: absolute;
  width: 20px;
  border-bottom: 1px solid #ccc;
  right: -7%;
  top: 60%;
}

.dateWrap:nth-of-type(2)::after {
  content: '';
  position: absolute;
  height: 80px;
  border-right: 1px solid #ccc;
  right: 0;
  top: 30px;
}

.reserv_date {
  line-height: 50px;
  font-size: 35px;
}

.optWrap {
  width: 80px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}

.optWrap::after {
  content: '';
  position: absolute;
  height: 80px;
  border-right: 1px solid #ccc;
  right: 0;
  top: 30px;
}

.optWrap:last-of-type:after {
  display: none;
}

.reservOpt {
  font-size: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.optWrap:last-of-type .reservOpt {
  margin-left: 18px;
}

#reserv_btn {
  background-color: #000;
  margin-right: -1px;
  color: #fff;
  width: 160px;
  font-size: 35px;
  cursor: pointer;
  font-family: 'BaskervilleOldFace', serif;
}

/* Special Offers */

#specialOffers {
  height: 80vh;
  min-height: 570px;
  width: 100%;
  background-color: #fff;
  margin-top: 160px;
}

.promo-slider {
  margin: 100px auto 0;
  width: 1000px;
  overflow: hidden;
}

.promo-slider ul {
  width: 2040px;
  display: flex;
  justify-content: flex-start;
}

.promo-slider ul li {
  width: 300px;
  margin: 0 20px;
  position: relative;
  background: no-repeat;
  background-size: contain;
}

.promo-slider ul li::before {
  content: "";
  height: 400px;
  border-right: 1px solid #ccc;
  position: absolute;
  right: -20px;
}

.promo-slider a dl {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 102%;
}

.promo-slider a dt {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.promo-slider a dd {
  font-size: 14px;
}

.promo-control {
  position: relative;
}

.promo-control>a {
  width: 55px;
  height: 55px;
  top: -250px;
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  text-indent: -9999em;
  background: url(../assets/sprite.webp) no-repeat;
}

.promo-control>a:first-child {
  left: calc(50% - 700px);
  background-position: top -107px left 5px;
}

.promo-control>a:last-child {
  right: calc(50% - 700px);
  background-position: top -148px left 3px;
}

/* ESG BANNER */

#ESG {
  margin-top: 130px;
  width: 100%;
  height: 365px;
  background: url(../assets/esg-bg.webp);
  background-repeat: repeat-x;
}

#ESG>section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#ESG>section article {
  padding: 100px 80px 0;
  box-sizing: border-box;
}

#ESG>section article h4 {
  text-align: left;
}

#ESG>section article img {
  width: 590px;
  top: 70px;
  right: 80px;
  position: absolute;
  box-shadow: 0px 0px 21px 0px rgb(0 0 0 / 0%);
}

#ESG>section article p {
  padding-top: 20px;
}

#ESG .btn_black {
  position: relative;
}

#ESG svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

#ESG svg rect {
  stroke-width: 1px;
  stroke-dasharray: 390;
  stroke-dashoffset: 390;
  stroke: #000;
  fill: transparent;
  transition: 1.75s;
}

#ESG svg rect:hover {
  stroke-dashoffset: 0
}

/* ROOMS, DINING 공통 */
.twin {
  position: relative;
}

.twin h2 {
  position: absolute;
  top: 25%;
  line-height: 55px;
  font-size: 40px;
}

.twin .twin-wrap {
  width: 55vw;
  overflow: hidden;
}

.twin ul {
  display: flex;
  width: 220vw;
}

.twin ul li {
  width: 25%;
  height: 40vw;
  position: relative;
  background: no-repeat center / cover;
}

.twin ul li span {
  font-size: 60px;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  font-family: 'BaskervilleOldFace', serif;
  position: absolute;
  bottom: 10px;
}

.twin div:nth-child(3) {
  position: absolute;
  bottom: 0;
}

.twin div:nth-child(3) a {
  font-family: 'SpoqaHanSansNeo', sans-serif;
  font-size: 20px;
  color: #a6a6a6;
}

.twin div:nth-child(3) a.on {
  color: #000;
  transition: 0.5s;
}

.twin div:nth-child(3) a>span {
  display: inline-block;
  left: 30px;
  bottom: 5px;
  width: 0px;
  border-bottom: 1px solid #000;
}

.twin div:nth-child(3) a:first-child>span {
  width: 85px;
  margin: 0 10px;
}

.twin>p {
  position: absolute;
  top: 48%;
  line-height: 25px;
}

.twin>a {
  position: absolute;
  top: 70%;
}

.twin>svg {
  position: absolute;
  top: 0;
  width: 42%;
  height: 1px;
}

.twin>svg line {
  stroke-width: 1px;
  stroke: black;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
}

.twin a.btn_trpt>svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.twin a.btn_trpt>svg line {
  stroke: #000;
  stroke-width: 47px;
  stroke-dasharray: 182;
  stroke-dashoffset: 182;
  transition: 1s stroke-dashoffset;
}

.twin a.btn_trpt>svg:hover line {
  stroke-dashoffset: 0
}

/*  ROOMS */

#rooms {
  margin-top: 400px;
}

#rooms h2 {
  left: 58%;
  text-align: left;
}

#rooms .rooms-slider li span {
  right: 25px;
}

#rooms .rooms-pagination {
  left: 58%;
}

#rooms .rooms-pagination a {
  margin-right: 5px;
}

#rooms p {
  left: 58%;
}

#rooms a.btn_trpt {
  left: 58%;
}

#rooms > svg {
  left: 58%;
}

/*  DINING & BAR */
#dining {
  margin-top: 127px;
}

#dining h2 {
  text-align: right;
  right: 58%;
  z-index: 10;
}

#dining .twin-wrap {
  position: relative;
  right: -45%;
  width: 55vw;
  overflow: hidden;
}

#dining .dining-slider li span {
  left: 25px;
}

#dining .dining-slider li:nth-child(3) span {
  text-transform: uppercase;
}

#dining .dining-pagination {
  right: 58%;
}

#dining .dining-pagination a {
  margin-left: 5px;
}

#dining p {
  right: 58%;
  text-align: right;
}

#dining a.btn_trpt {
  right: 58%;
}

#dining > svg {
  right: 58%;
}

/* FACILITIES */

#facilities {
  margin-top: 200px;
  width: 100%;
  height: 80vh;
  min-height: 665px;
}

#facilities h2 {
  width: fit-content;
  margin: 0 auto 60px;
}

#facilities div.facilities_content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#facilities article {
  width: 33.4%;
  text-align: center;
  background-size: cover;
  transition: 1s;
  color: #fff;
}

.facility_wrap {
  height: 500px;
  opacity: 0;
  transition: opacity .5s, background-color .7s;
}

.facility_wrap:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

#facilities article dl {
  padding-top: 140px;
}

#facilities article dl dt {
  font-family: 'BaskervilleOldFace', serif;
  font-size: 45px;
}

#facilities article dl dt::after {
  content: "";
  display: block;
  margin: 20px auto 30px;
  border-bottom: 1px solid #fff;
  width: 250px;
  transition: transform 800ms ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

#facilities .facility_wrap:hover dl dt::after {
  transform: scaleX(1);
}

#facilities article dl dd {
  font-size: 14px;
  line-height: 22px;
}

#facilities article a {
  margin: 40px auto 0;
  font-size: 13px;
  position: relative;
}

#facilities article a span {
  position: relative;
}

#facilities article a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
}

#facilities article a:hover::before {
  transform: scaleX(1);
}

/* MEMBERSHIP */

#membership {
  margin: 100px 0 200px;
  width: 100%;
}

#membership article {
  height: 270px;
  position: relative;
  background-image: url(../assets/membership-bg.webp), url(../assets/membership-bg.webp);
  background-repeat: no-repeat, no-repeat;
  background-size: 600px, 600px;
  background-position: top 18% left -418px, top 18% right -418px;
}

#membership article h3 {
  padding-top: 80px;
}

#membership article a {
  margin: 40px auto;
}

#membership article svg {
  width: 100%;
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#membership article svg line {
  stroke-width: 2px;
  stroke: #d8c3ae;
  stroke-dasharray: 100vw;
  stroke-dashoffset: 100vw;
}


/* WEDDING & MEETING */
#wedding {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 40vh 0 0;
  box-sizing: border-box;
}

#wedding h2 {
  color: #fff;
  font-size: 40px;
}

#wedding p {
  color: #fff;
  padding: 20px 0;
}

#wedding a {
  width: 160px;
  margin: 20px 5px;
  display: inline-block;
  font-size: 14px;
  position: relative;
}

#wedding a span {
  position: relative;
}

#wedding a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
}

#wedding a:hover::before {
  transform: scaleX(1);
}


#wedding iframe {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#wedding::before {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* SNS */

#sns {
  margin: 200px 0;
  width: 100%;
  text-align: center;
}

#sns p {
  margin: 20px 0 0;
}

#sns .posts {
  margin-top: 100px;
  overflow: hidden;
}

#sns .posts ul {
  display: flex;
  width: 100%;
}

#sns .posts ul li a {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 20px; /*li 넓이 290*/
  text-indent: -9999em;
  background-size: 100%;
  background-position: center;
}

#sns .posts ul li:nth-child(2n) a {
  margin-top: 80px;
}


@media screen and (max-width:1499px) {
  .promo-slider {
    width: calc(60vw + 119px);
  }

  .promo-slider ul {
    width: calc(120vw + 240px);
  }

  .promo-slider ul li {
    width: 20vw;
    background-size: 100%;
  }

  .promo-slider a dt {
    font-size: 19px;
    font-weight: 400;
    padding: 10px 0;
  }

  .promo-slider a dd {
    font-size: 13px;
  }

  .promo-control>a:first-child {
    left: calc(4%);
  }

  .promo-control>a:last-child {
    right: calc(4%);
  }

  .twin h2 {
    /* top: 25%;
    line-height: 55px; */
    font-size: 37px;
  }

  .twin>p {
    font-size: 15px;
    top: 50%;
  }

  .twin>a {
    font-size: 15px;
  }

  .twin div:nth-child(3) a {
    font-size: 17px;
  }

  #sns {
    margin-top: 170px;
  }
}

@media screen and (max-width:1199px) {
  header > p {
    font-size: 45px;
  }
  form {
    width: 900px;
    left: calc(50% - 450px);
  }

  #reserv_content {
    width: 150px;
  }

  #reserv_content li {
    width: 150px;
  }

  #reserv_content li {
    font-size: 32px;
  }

  form fieldset label {
    margin-top: 35px;
  }

  .dateWrap {
    width: 150px;
  }

  .dateWrap:first-of-type::after {
    width: 10px;
    right: -5px;
  }

  .dateWrap:nth-of-type(2) {
    margin-right: 0;
  }

  .reserv_date {
    line-height: 40px;
    font-size: 28px;
  }

  .optWrap {
    width: 90px;
    margin: 0;
    text-align: center;
    align-items: center;
  }

  .reservOpt {
    font-size: 28px;
    width: 45px;
    padding-top: 5px;
    margin: 0;
    margin-left: 20px;
  }

  #reserv_btn {
    background-color: #000;
    margin-right: -1px;
    color: #fff;
    width: 150px;
    font-size: 30px;
  }

  #specialOffers h2 {
    font-size: 30px;
  }

  .promo-slider {
    width: calc(69vw + 119px);
  }

  .promo-slider ul {
    width: calc(138vw + 240px);
  }

  .promo-slider ul li {
    width: 23vw;
  }

  .promo-slider a dt {
    font-size: 16px;
  }

  .promo-slider a dd {
    font-size: 12px;
  }

  .promo-control>a {
    top: -210px;
    width: 50px;
    height: 50px;
  }

  .promo-control>a:first-child {
    left: 2%;
    background-position: top -108px left 3px;
  }

  .promo-control>a:last-child {
    right: 2%;
    background-position: top -150px left 1px;
  }

  #ESG {
    height: 30vw;
  }

  #ESG>section article {
    padding: 7vw 40px 0;
  }

  #ESG>section article h4 {
    font-size: 30px;
  }

  #ESG>section {
    width: 100%;
  }

  #ESG>section article img {
    width: 49vw;
    top: 50px;
    right: 7%;
  }

  #ESG>section article p {
    padding-top: 18px;
  }

  #ESG>section article .btn_black {
    width: 140px;
    line-height: 45px;
    font-size: 15px;
  }

  .twin h2 {
    top: 20%;
    line-height: 45px;
    font-size: 33px;
  }

  .twin ul li span {
    font-size: 45px;
  }

  .twin>p {
    top: 48%;
    font-size: 14px;
  }

  .twin>a {
    position: absolute;
    top: 65%;
    font-size: 14px;
    width: 160px;
    line-height: 40px;
  }

  .twin div:nth-child(3) a {
    font-size: 16px;
  }

  .twin div:nth-child(3) a.on::after {
    width: 60px;
    border-bottom: 1px solid #000;
    margin: 0 10px;
  }

  #facilities {
    height: 70vh;
  }

  #facilities h2 {
    font-size: 35px;
  }

  #facilities div.facilities_content {
    width: 90%;
  }

  #facilities article {
    height: 40vw;
  }

  .facility_wrap {
    height: 100%;
  }

  #facilities article dl {
    padding-top: 50%;
  }

  #facilities article dl dt::after {
    width: 200px;
  }

  #facilities article dl dd {
    position: absolute;
    left: -9999em;
  }

  #membership article {
    height: 220px;
    background-repeat: no-repeat, no-repeat;
    background-size: 600px, 600px;
    background-position: top 22% left -418px, top 22% right -418px;
  }

  #membership article svg {
    height: 220px;
  }

  #sns .posts ul li a {
    width: 220px;
    height: 220px;
  }


}

@media screen and (max-width:899px) {
  header > p {
    left: -9999em;
  }
  form {
    width: 94%;
    left: 3%;
    bottom: -307px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  form fieldset {
    height: 440px;
    padding: 0 3%;
    flex-direction: column;
  }

  #reserv_content {
    width: 100%;
    height: 105px;
    overflow: visible;
    position: relative;
  }

  #reserv_content li {
    width: 100%;
    position: static;
    font-size: 26px;
  }

  #reserv_content li.selected {
    display: block;
    line-height: 105px;
  }

  #reserv_content li:last-child {
    display: none;
  }

  #reserv_content::before {
    width: 90%;
    height: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    bottom: 0;
    top: 105px;
    left: 5%;
  }

  form fieldset label {
    margin-top: 15px;
  }

  .reserv_date {
    line-height: 50px;
    font-size: 24px;
  }

  .dateWrap {
    width: 42%;
    height: 110px;
    justify-content: center;
  }

  .dateWrap:nth-of-type(1) {
    position: relative;
    left: 5%;
    margin: 0;
    margin-bottom: 14px;
  }

  .dateWrap:first-of-type::after {
    width: 20px;
    border-bottom: 1px solid #ccc;
    right: -20px;
    top: 65px;
  }

  .dateWrap:nth-of-type(2) {
    position: absolute;
    left: 55%;
    top: 105px;
    margin-left: 0;
  }

  .dateWrap:nth-of-type(2)::after {
    width: 225%;
    height: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    bottom: 0;
    top: 115px;
    left: -130%;
  }

  .optWrap {
    width: 30%;
    height: 105px;
    position: absolute;
  }

  .optWrap:nth-child(5) {
    position: relative;
    left: 2%;
  }

  .optWrap:nth-child(6) {
    top: 231px;
    left: 34%;
  }

  .optWrap:nth-child(7) {
    top: 231px;
    right: 5%;
  }

  .optWrap::after {
    content: '';
    position: absolute;
    height: 30px;
    border-right: 1px solid #ccc;
    right: 0;
    top: 40px;
  }

  .reservOpt {
    font-size: 28px;
  }

  #reserv_btn {
    width: 90%;
    margin: 10px auto 0;
    font-size: 25px;
    line-height: 60px;
  }

  #specialOffers {
    margin-top: 450px;
    height: 600px;
  }
  #specialOffers h2 {
    font-size: 1.45em;
  }
  .promo-slider {
    margin: 0 auto;
    width: 90%;
    height: 550px;
  }

  .promo-slider ul {
    width: 600%;
    margin-top: 30px;
  }

  .promo-slider ul li {
    width: 100%;
    height: 280px;
    margin: 0;
    background-size: 100%;
    background-position: center;
  }

  .promo-slider ul li::before {
    display: none;
  }
  .promo-slider .swiper-pagination {
    bottom: 40px;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }

  .promo-slider a dl {
    padding-top: 290px;
  }

  .promo-slider a dt {
    font-size: 1em;
  }

  .promo-slider a dd {
    font-size: 0.7em;
  }

  .promo-control {
    display: none;
  }

  #ESG {
    margin-top: 70px;
    height: 55vw;
    background-repeat: repeat-x;
  }

  #ESG>section {
    width:90vw;
    margin: 0 auto;
    top: 80vw;
  }

  #ESG>section article {
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

  #ESG>section article h4 {
    text-align: center;
    font-size: 1.45em;
  }
  #ESG>section article p {
    font-size: 0.7em;
  }
  #ESG>section article img {
    width: 100%;
    top: -66vw;
    left: 0;
  }

  #ESG>section article .btn_black {
    width: 120px;
    line-height: 35px;
    margin: 40px auto;
    font-size: 0.7em;
  }

  #ESG svg {
    display: none;
  }
  .btn_black:hover {
    background-color: #000;
    color: #fff;
  }
  #rooms {
    margin-top: 700px;
  }

  #rooms h2 {
    top: -165px;
    left: 5%;
  }

  .twin .twin-wrap {
    width: 100vw;
    overflow: hidden;
  }

  .twin ul {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin-left: 5%;
  }

  .twin ul li {
    width: 85vw;
    margin: 0 10px;
    height: 500px;
  }
  .twin ul li span {
    font-size: 1.85em;
  }
  .twin ul li:first-child {
    margin-left: 0;
  }

  .twin div:nth-child(3) {
    display: none;
  }
  .twin h2 {
    font-size: 1.45em;
    line-height: 1.35em;
  }
  .twin p {
    max-width: 76vw;
    font-size: 0.7em;
    line-height: 1.8em;
  }

  #rooms {
    position: relative;
  }

  #rooms p {
    top: -90px;
    left: 5%;
  }

  #rooms .rooms-slider li span {
    left: 5%;
  }

  #rooms a.btn_trpt,
  #dining a.btn_trpt {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-indent: -9999em;
    line-height: 50px;
    border-color: #000;
    background: url(../assets/sprite.webp) no-repeat top -91px left 4px / 740%;
    top: -96px;
    left: auto;
    right: 5%;
  }

  .twin>svg {
    display: none;
  }

  #dining {
    margin-top: 350px;
  }

  #dining h2 {
    top: -5.8em;
    text-align: left;
    left: 5%;
    right: auto;
    width: fit-content;
  }

  #dining .twin-wrap {
    position: relative;
    right: 0;
    width: 100vw;
    overflow: hidden;
    box-sizing: content-box;
  }

  #dining p {
    top: -6em;
    left: 5%;
    right: auto;
    text-align: left;
    width: fit-content;

  }

  #dining .dining-slider li span {
    right: 5%;
    text-align: right;
  }

  #facilities {
    min-height: auto;
    height: 45vh;
    margin-bottom: 10vh;
  }

  #facilities h2 {
    font-size: 1.45em;
  }

  .facility_wrap {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
  }

  .facility_wrap:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  #facilities div.facilities_content {
    flex-direction: column;
  }

  #facilities article {
    height: 8em;
    width: 100%;
    background-position: center;
  }

  #facilities article dl {
    padding: 0;
    line-height: 8em;
  }

  #facilities article dl dt {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    font-size: 1.45em;
  }

  #facilities article dl dd {
    position: absolute;
    left: -9999em;
  }

  #facilities article dl dt::after {
    display: none;
  }

  #facilities article a {
    margin: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
    position: absolute;
    top: 0;
    border: none;
  }
  #facilities article a::before {
    display: none;
  }
  #facilities article a:hover {
    background-color: transparent;
  }
  #membership {
    margin: 0;
  }
  #membership article {
    height: 140px;
    line-height: 140px;
    background-size: 500px, 500px;
    background-position: top 19% left -401px, top 19% right -401px;
    border: 1px solid #d8c3ae;
  }

  #membership article h3 {
    padding-top: 0px;
    font-size: 1.45em;
  }

  #membership article a {
    margin: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
    position: absolute;
    top: 0;
    border: none;
  }

  #membership article a:hover {
    box-shadow: none;
  }

  #membership article svg {
    display: none;
  }

  #wedding {
    height: 90vh;
    padding-top: 33vh;
    margin-top: 10vh;
    border: none;
    background: url(../assets/mobile_wedding.webp) center / cover;
  }

  #wedding::before {
    display: none;
  }

  #wedding::after {
    content: "";
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #wedding iframe {
    display: none;
  }

  #wedding h2 {
    color: #fff;
    font-size: 1.45em;
    position: relative;
    z-index: 1;
  }

  #wedding p {
    position: relative;
    z-index: 1;
  }

  #wedding a {
    width: 11em;
    line-height: 3.1em;
    margin: 1em auto;
    display: block;
    font-size: 16px;
    position: relative;
    z-index: 1;
  }

  #wedding a:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
  }

  #sns {
    margin-bottom: 100px;
  }

  #sns h3 {
    font-size: 1.45em;
  }

  #sns p {
    font-size: 0.9em;
    margin-top: 1em;
    word-break: keep-all;
  }

  #sns .posts {
    width: 100%;
    margin-top: 0;
  }

  #sns .posts ul {
    margin: 2.3em auto 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
  }

  #sns .posts ul li {
    margin: 5px;
    width: 31%;
    height: 33vw;
  }

  #sns .posts ul li a {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
  }

  #sns .posts ul li:nth-child(2n) a {
    margin-top: 0px;
  }

}
@media screen and (max-width:767px) {

  #membership article {
    background-position: top 19% left -450px, top 19% right -450px;
  }

  #sns .posts ul li {
    width: 45%;
    height: 45vw;
  }
}
